/**
 * File:	/styles/base-all.css
 * Author:	Guilherme Vieira
 * Date:	29/06/2014
 */

/** Imports **/
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

/** Browser default styles reset **/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	background: url(../images/noise_background.png) repeat;
	/*background-color: #EEEEEE;*/
	text-shadow: 1px 1px 1px #C4C4C4;
}

/*::selection { color: white; background-color: black; text-shadow: none;}*/

a {
	text-decoration: none;
	color: #3679D9;
	
	transition: all .7s;
	-moz-transition: all .7s;
	-webkit-transition: all .7s;
}

a:hover {
	color: #FF3F3F;
}

p {
	line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Shadows Into Light', cursive;
	font-weight: normal;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: white;
}

h1 {
	font-size: 5em;
	text-shadow: 0 2px 4px #BFEC3A;
}

.redShadow {text-shadow: 0 2px 4px #FF3F3F;}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
	-webkit-text-stroke-width: 0;
   	-webkit-text-stroke-color: white;
}

/** Structural elements **/
#Page {
	
}

#Main {
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	
}

header {
	height: 20px;
	padding: 5px 0;
	background-color: #fdfdfd;
	border-bottom: 2px solid #FF8B3F;
	box-shadow: 0 2px 6px #FED89D;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: right;
	
	display: none;
}

/*#LoginOverlay,*/
#AlertOverlay {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	left: 0;
	top: 100px;
	display: none;
	z-index: 30;
}

#Login {
	width: 300px;
	background: rgba(255,255, 255, 0.9);
	border: 2px solid #BFEC3A;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0 2px 6px #ddd/*#DDF597*/;
	text-shadow: none;
	margin: 0 auto;
}

#Alert {
	width: 450px;
	text-align: center;
	background: rgba(255, 242, 242, 0.9);
	border: 2px solid #FF3F3F;
	color: #FF3F3F;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 2px 6px #FFA5A5;
	text-shadow: none;
	margin: 0 auto;
}

/** Form Elements **/
fieldset {
	/*border: 1px solid black;*/
	border: none;
	margin: 10px auto;	
	padding: 5px;
	/*background: #fff;*/
	position: relative;
}

label:first-child {
	display: block;
	color: #FF8C3F;
	text-shadow: none;
}

label {
	margin-right: 15px;
	line-height: 24px;
}

input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
	color: #3679D9;
} 

input[type=button],
input[type=submit],
input[type=reset],
.button {
	color: #3679D9;
	border: 2px solid #3679D9;
	background-color: #fdfdfd;
	padding: 4px 10px;
	margin: 3px 3px;
	text-shadow: none;
	box-shadow: 0 2px 6px #91B6EB;
	border-radius: 5px;
	/*line-height: 39px;*/
	transition: all .7s;
	-moz-transition: all .7s;
	-webkit-transition: all .7s;
}

a.button {
	display: inline-block;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.button:hover {
	color: #FF3F3F;
	border-color: #FF3F3F;
	box-shadow: 0 2px 6px #FE9D9D;
	cursor: pointer;
}

input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
.button.disabled {
	color: #7f7f7f;
	border: 2px solid #7f7f7f;
	background-color: #fdfdfd;
	padding: 4px 10px;
	margin: 0 3px;
	text-shadow: none;
	box-shadow: 0 2px 6px #b2b2b2;
	border-radius: 5px;
}

input[type=button]:disabled:hover,
input[type=submit]:disabled:hover,
input[type=reset]:disabled:hover,
.button.disabled:hover {
	cursor: default;
}

input[type=text],
input[type=password],
input[type=number],
input[type=date],
input[type=email] {
	font-family: 'Source Sans Pro', sans-serif;
	border: 2px solid #36B0D9;
	padding: 3px;
	font-size: 0.8em;
	
	width: 50px;
	
	border-radius: 5px;
	
	transition: all .7s;
	-moz-transition: all .7s;
	-webkit-transition: all .7s;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=email]:focus  {
	border-color: #FFD93F;
}

input[type=date], input[type=password] {width: 150px;}

input[type=text], input[type=email] {width: 200px;}
input[type=text]:focus, input[type=email]:focus {width: 400px;}

#Login input[type=email]:focus {width: 280px;}

input:focus {
	outline: none;
}

input[type='range'] {
	-webkit-appearance: none;
	border-radius: 5px;
	background-color: #36B0D9;
	height: 3px;
	vertical-align: middle;
}
input[type='range']::-moz-range-track {
	-webkit-appearance: none;
	border-radius: 5px;
	background-color: #36B0D9;
	height: 3px;
	vertical-align: middle;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 15px;
	background-color: #36B0D9;
	box-shadow: 0 0 2px #c4c4c4;
	border: 2px solid #fff;
	height: 15px;
	width: 15px;
}
input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 15px;
	background-color: #36B0D9;
	box-shadow: 0 0 2px #c4c4c4;
	border: 2px solid #fff;
	height: 15px;
	width: 15px;
}

#frm_tc_hdl_val { vertical-align: middle; }

fieldset:hover p.details { opacity: 1; }

p.details {
	color: #BFEC3A;
	border: 2px solid #BFEC3A;
	background-color: #fdfdfd;
	margin-top: 10px;
	padding: 2px 5px;
	width: 380px;
	text-shadow: none;
	box-shadow: 0 2px 6px #DDF597;
	border-radius: 5px;
	opacity: 0;
	z-index: 30;
	
	transition: all .7s;
	-moz-transition: all .7s;
	-webkit-transition: all .7s;
	
	position: absolute;
	right: 0;
	top: 0;
}

/** Drawing Canvas **/
#ResultCanvas {
	width: 70%;
	background-color: #fdfdfd;
	float: left;
	border-radius: 5px;
	display: block;
	/*margin: 0 auto;*/
	border: 2px solid #36B0D9;
	box-shadow: 0 5px 15px #8CD2E9;
	position: relative;
}

#WhatIf {
	width: 28%;
	float: right;
	/*padding-left: 10px;*/
	/*margin-top: 30px;*/
	/*margin-left: 5px;*/
	border: 2px solid #36B0D9;
	box-shadow: 0 5px 15px #8CD2E9;
	border-radius: 5px;
	background-color: #fdfdfd;
}

#InnerWhatIf {
	padding: 0 10px;
}

#WhatIf fieldset { display: none; }

#Result .nextStepLinkContainer {
	clear: both;
}

/** Navigation **/
#Main nav {
	margin: 15px auto;
	text-align: center;
}


#Main nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 3px;
	font-size: 2.5em;
}

header nav {
	margin-right: 50px;
}

header nav ul li {
	display: inline-block;
	padding: 0 5px;
}

/** Specific Styles **/
.currentStep {
	display: block;
}

p.nextStepLinkContainer {
	text-align: center;
	padding-top: 25px;
}

section:not(.currentStep):not(#Result) {
	display: none;
}

section {
	margin-top: 30px;
}

#Title {
	padding-top: 140px;
	text-align: center;
}

#Introduction {
	padding-top: 120px;
}

#Result {
	opacity: 0;
	position: relative;
}

#AlreadyKnow,
#saveLink {
	display: none;
}

.alignCenter {text-align: center;}


@media all and (max-width: 837px) {
	#Main {
		margin: 0 10px;
	}
	
	#ResultCanvas {
		width: 100% !important;
		float: none;
		display: block;
	}
	
	#WhatIf {
		width: 100%;
		float: none;
		margin-top: 20px;
	}
	
	#Title {
		padding-top: 40px;
	}
	
	#Introduction {
		padding-top: 40px;
	}
}

@media all and (max-width: 540px) {
	p.details {
		margin-top: 10px;
		width: auto;
		position: static;
		opacity: 1;
		/*left: 0;
		top: -60px;*/
	}
	
	#Title {
		padding-top: 0;
	}
	
	#Introduction {
		padding-top: 0;
	}
	
	h1 {
		font-size: 3.5em;
	}
	
	h2 {
		font-size: 2.3em;
	}
	
	h3 {
		font-size: 1.8em;
	}

}

@media all and (max-width: 380px) {
	#Login {
		width: auto;
	}
	
	#Alert {
		width: auto;
	}
}